.App {
  text-align: center;
}

input[type=color] {
  border: none;
}

html {
	height: 100%;
}

body {
	overflow: hidden;
 	height: inherit;
}

.cursor {
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	background: orange;
	border-radius: 50%;
	position: absolute;
	z-index: 5;
	pointer-events: none;
	position: fixed;
	opacity: .85;
	border: 1px solid #000000;
}

canvas {
	cursor: none;
}

.pipette {
	background-image: url(../img/pipette.png);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.eraser {
	background-image: url(../img/eraser.png);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.selection {
	background-image: url(../img/selection.png);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.pencil {
	background-image: url(../img/pencil.svg);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.upload {
	background-image: url(../img/upload.svg);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.trash {
	background-image: url(../img/trash.svg);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.paint-bucket {
	background-image: url(../img/paint-bucket.svg);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.download {
	background-image: url(../img/download.svg);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

#draw {
	z-index: 1;
}

#pseudoCanvas {
	z-index: 3;
	position: fixed;
}

.active::after {
	content: "\21d1"
}