.App {
  text-align: center;
}

input[type=color] {
  border: none;
}

html {
	height: 100%;
}

body {
	overflow: hidden;
 	height: inherit;
}

.cursor {
	margin: auto;
	width: 16px;
	height: 16px;
	background: white;
	border-radius: 50%;
	z-index: 5;
	pointer-events: none;
	position: fixed;
	opacity: .85;
	border: 1px solid #000000;
}

canvas {
	cursor: none;
}

.pipette {
	background-image: url(../img/pipette.png);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.eraser {
	background-image: url(../img/eraser.png);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.selection {
	background-image: url(../img/selection.png);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.pencil {
	background-image: url(../img/pencil.svg);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.upload {
	background-image: url(../img/upload.svg);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.trash {
	background-image: url(../img/trash.svg);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.paint-bucket {
	background-image: url(../img/paint-bucket.svg);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.download {
	background-image: url(../img/download.svg);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.storage {
	background-image: url(../img/database.svg);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.cloud-upload {
	background-image: url(../img/cloud-upload.svg);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.close {
	background-image: url(../img/close.svg);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.check {
	background-image: url(../img/check.svg);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.forward {
	background-image: url(../img/forward.svg);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.reply {
	background-image: url(../img/reply.svg);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.storageModal {
	z-index: 1000;
}

.image-border {
	border: 1px solid #c2c7ce;
}


#draw {
	z-index: 1;
}

#pseudoCanvas {
	z-index: 3;
	position: fixed;
}

.active::after {
	content: "\21d1"
}