.App {
  text-align: center;
}

input[type=color] {
  border: none;
}

html {
	height: 100%;
}

body {
	overflow: hidden;
 	height: inherit;
}

.cursor {
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	background: orange;
	border-radius: 50%;
	position: absolute;
	z-index: 100;
	pointer-events: none;
	position: fixed;
	opacity: .85;
	border: 1px solid #000000;
}

.pipette {
	background-image: url(../img/pipette.png);
	background-position: center; 
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

#draw {
	z-index: 100;
	cursor: none;
}
